@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    scroll-behavior: smooth;
}
body
{
    display: flex;
    height: 100%;
    place-items: center;
    text-align: center;
    min-height: 100vh;
    background: radial-gradient(#f05bc3, #f08dec);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: #fff;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 5px 5px 15px #111;
}
.logo
{
    color: #2b1055;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;

}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #2b1055;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active5
{
    background: #2b1055;
    color: #fff;
    transition: 0.5s;
}
.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
h3{
    margin-bottom: 20px;
}
table{
    color: #fff;
    margin-bottom: 20px;
}
.map{
    margin-top: 20px;
}